@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
* {
  margin: 0;
  
}
body {
  background-image: url(/img/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
header {
  margin: 15% auto;
  text-align: center;
  color: white;
}
header * {
  margin-top: 50px;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5em;
  font-weight: bold;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 2em;
  font-style: italic;
}
div {
  margin: auto;
  width: 71px;
  height: 71px;
  background-image: url(img/abajo-1.png);
}
div:hover {
  background-image: url(img/abajo-2.png);
}
nav {
  position: sticky;
  top: 0;
  width: 900px;
  height: 50px;
  background-color: #474b50;
  text-align: center;
  line-height: 50px;
  margin: auto;
}
nav * {
  padding: 15px;
  text-decoration: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
nav *:hover {
  background-color: black;
}
main {
  width: 900px;
  margin: 0 auto;
  background-color: white;
}
main header h1 {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}
main header h3 {
  color: black;
  font-style: italic;
  font-family: "Merriweather", serif;
  font-size: 150%;
}
main header img {
  width: 800px;
  height: auto;
}
article{
  padding: 0;
  margin: 10px 40px;
  width: 360px;
  display: inline-block;
  text-align: center;
}
article * {
  margin: 3% auto;
}
article h1{
  font-size: 3em;
}
article img {
  width: 330px;
  height: auto;
}
footer{
  width: 900px;
  margin: 0 auto 300px;
  background-color: #cad1ce;
}
footer input[type="text"],label,fieldset,button{
  margin: 20px 40px;
}
